*{
    font-family: 'Mulish', sans-serif;
    
}





span{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.one{
    color: #FF5400;

text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
li a{
    color: black;


font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
}
nav>ul{
    display: flex;
list-style: none;
text-decoration: none;
gap: 50px;
text-align: end;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0px 50px;
}
.bangla{
    width: 174px;
height: 52px;
flex-shrink: 0;

border-radius: 8px;
background: #FFF;
display: flex;
position: relative;
margin-left: 20%;

gap-left: auto;
gap-right: 60%;
gap: 50px;
margin-top: 13%;



}
.joy{
    color: #FFF;
padding-top: 6.25%;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.container{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    
width: 1140px;
height: 500px;
border-radius: 16px;
flex-shrink: 0;
margin-left: 70px;
background-repeat: no-repeat;





}
p{
    color: #FFF;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px
}
.cc{
    height: 24px;
    width: 24px;


}
#fd{
    width: 174px;
height: 52px;
flex-shrink: 0;

border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;

padding-bottom: auto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#wwf{
    border-radius: 5px;
    border: none;
}
input{
    border: none;
    border-radius: 12px;
}
#wwe{
    border-radius: 12px;
}
.lol{
    display: flex;
    
}

.emeet{
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.mem{
    width: 174px;
height: 52px;
flex-shrink: 0;

border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
cursor: pointer;
}
.des{
    text-align: center;
}
.picone{
    width: 573px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.pictwo{
    width: 573px;
height: 300px;
display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
    margin-top: 2%;
    gap: 20px;
}
.picthree{
    width: 573px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;

}
.why{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.why> p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 

}
.back{
    background-color: bisque;
    width: 573px;
height: 284px;
flex-shrink: 0;

padding-top: 10%;
border-radius: 16px;
}
.back>P{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.back>h2{
    text-align: center;
    font-size: 32px;
}
.aaa{
    background-color: burlywood;
    width: 573px;
height: 284px;
flex-shrink: 0;

padding-top: 10%;
border-radius: 16px;


}
.bbb{
    background-color: wheat;
    width: 573px;
height: 284px;
flex-shrink: 0;

padding-top: 10%;
border-radius: 16px;
margin-top: 20px;
 
    
    margin-left: auto;
    margin-right: auto;
    
  
  

}
.bbb>h2{
    text-align: center;
    font-size: 32px;

}
.bbb>p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.aaa>p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.aaa>h2{
    text-align: center;
    font-size: 32px;
}
.big{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 2%;
}

@media only screen and (max-width: 600px) {
    body{
      font-size: 16px; 
    }
  
    .container{
width: 335px;
      height: 900px;
      margin-left: 25%;
      margin-right: 0;
      margin-bottom: 0;


      
    }
  
    ul li{
      display: none;
    }
  .joy{
    
    font-size: 22px;
    text-align: center;
    color: orangered;
  }
   p{
    font-size: 14px;
    margin: 0;
    padding: 0 40px 0 40px;
   } 
  .bangla{
    flex-direction: column;
  }
  .fst{
    padding-left: 20%;
    
  }
  .lol> ul li{
    display: block; 
        margin: 10px 0;
  }
.lol{
    display: block;
    padding-right: 10px;
    padding-left: 0;
    color: rgba(19, 19, 24, 0.70);
    flex-wrap: wrap;
    width: 335px;

font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
align-content: center;
justify-content: center;
margin-left: 20%;
    

}
.lol>img{
    width: 335px;
    height: 342px;
    flex-shrink: 0;
    margin-left: 20%;
}
  .emeet{
    width: 335px;
    margin-left: 20%;
  }
  .des{
    font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;



  }
  .man{
    color: #131318;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
  }
.woman{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.picone{
    display: inline-block;
    width: 235px;
height: 176px;

}
.pictwo{
    display: inline-block;
    width: 235px;
height: 176px;
display: block;

}
.picthree{
    
   max-width: 335px;
height: 176px;
display: inline-block;
margin-top: 20%;
display: block;

    }
}
    
  .mine{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 30%;

    
    
  }
  .cx{
    margin-bottom: 10%;
  }
  .bx{
    text-align: center;
    margin-right: 35%;
  }
  .mine>p{
    color: #5A5A5D;

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-right:35% ;
  }
    .mine>h1{
        margin-right: 35%;
    }
    .gg{
        color: #131318;

font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: left;
padding-left: 4%;
background-color: aliceblue;
width: 474px;
height: 422px;
flex-shrink: 0;
border: 2px solid orangered;
    }
    .co{
        color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
text-align: left;
    }
        .gg>input{
            width: 393px;
            height: 52px;
            border: 1px solid black;
            margin-bottom: 20px;
        }
        .gg>button{
            width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
font-size: 22px;
cursor: pointer;
        }
        .news{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-right: 4%;
            margin-left:4% ;
        }
      

      
          
          
    

    
